@import 'vendors/bootstrap';
@import "~ekko-lightbox/ekko-lightbox.less";

@one:#fff;
@one-offset:#f9f9f9;
@two:#222;
@two-offset:#444;
@three:#666;
@four:#eee;
@five:#d1f4ff;
@five-offset:#5c8bb1;
@six:#ccc;
@seven:#3e183a;
@eight:#af499f;
@nine:#af499f;
@space-default:10px;
@whatsapp:#189d0e;

body {
  font-family: 'Roboto', sans-serif;
}
.topo {
  position: relative;
}
////////////////////////// Classe de espaçamento de conteudos
.s-small {margin-bottom: 5px;}
.s-medium {margin-bottom: 15px;}
.s-large {margin-bottom: 30px;}
.s-gutter-negative--right {margin-right:-15px;}
////////////////////////// componente de cores para background e textos
.b-color--one {background-color: @one;}
.t-color--one {color: @one;}
.b-color--one-offset {background-color: @one-offset;}
.t-color--one-offset {color: @one-offset;}
.b-color--two {background-color: @two;}
.t-color--two {color: @two;}
.b-color--two-offset {background-color: @two-offset;}
.t-color--two-offset {color: @two-offset;}
.b-color--three {background-color: @three;}
.t-color--three {color: @three;}
.b-color--four {background-color: @four;}
.t-color--four {color: @four;}
.b-color--five {background-color: @five;}
.t-color--five {color: @five;}
.b-color--five-offset {background-color:@five-offset;}
.t-color--five-offset {color: @five-offset;}
.b-color--six {background-color: @six;}
.t-color--six {color: @six;}
.b-color--seven {background-color: @seven;}
.t-color--seven {color: @seven;}
.b-color--eight {background-color: @eight;}
.t-color--eight {color: @eight;}
.b-color--nine {background-color: @nine;}
.t-color--nine {color: @nine;}
.b-color--whatsapp {background-color: @whatsapp}
.t-color--whatsapp {color: @whatsapp}

/////////////////////////////////////// componente gradient background
.b-gradient--primary {background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 40%,rgba(238,238,238,1) 40%,rgba(238,238,238,1) 40%,rgba(238,238,238,1) 100%);}
.b-gradient--secundary {background: linear-gradient(to bottom, rgba(209,244,255,1) 0%,rgba(209,244,255,1) 71%,rgba(255,255,255,1) 71%,rgba(255,255,255,1) 100%);}
////////////////////////////////////// componente box shadow
.bs-blackEasy {box-shadow: 0px 0px 7px -2px rgba(0,0,0,0.62);}
////////////////////////////////////// componente border radius
.br-easy {border-radius: 5px;}
.br-medium {border-radius: 10px;}
.br-hard {border-radius: 15px;}
////////////////////////// componente de espaçamentos
.c-top {padding-top: @space-default;}
.c-bottom {padding-bottom: @space-default;}
.c-right {padding-right: @space-default;}
.c-left {padding-left: @space-default;}
.c-box {padding: @space-default;}
.c-negative {padding: 0;}
.c-nospace {margin: 0;}
.c-box--content {border: 1px solid @six;}
.c-box--content--b {border-bottom: 1px solid @six;}
.c-box--img--b{border: 3px solid @one;}
////////////////////////// componente de tamanho de fontes
.fs--zero {font-size: 10px;}
.fs--one{font-size: 12px;}
.fs--two {font-size: 14px;}
.fs--three {font-size: 16px;}
.fs--four {font-size: 18px;}
.fs--five {font-size: 20px;}
.fs--six {font-size: 22px;}
.fs--seven {font-size: 24px;}
.fs--eight {font-size: 26px;}
.fs--nine {font-size: 28px;}
.fs--ten {font-size: 30px;}
.fs--eleven {font-size: 32px;}
.fs--fourteen {font-size: 34px;}
.fs--fiveteen {font-size: 36px;}
.fs--sixteen {font-size: 38px;}
.fs--seventeen {font-size: 40px;}
.fs--eightteen {font-size: 42px;}
.fs--nineteen {font-size: 44px;}
.fs--twenty {font-size: 46px;}
.fs--twenty-one {font-size: 48px;}
.fs--twenty-two {font-size: 50px;}
.fs--twenty-three {font-size: 52px;}
.fs--twenty-four{font-size: 54px;}
.fs--twenty-five {font-size: 56px;}
.fs--twenty-six {font-size: 66px;}
///////////////////////////////////////
.l-transition--default {
  transition: all .2s;
  color:@two-offset;
  &:hover{
    color:@seven;
    text-decoration: none;
  }
}
.l-transition--primary {
  transition: all .2s;
  color:#ccc;
  font-size: 12px;
  &:hover{
    color:@one;
    text-decoration: none;
  }
}
.l-transition--secondary {
  transition: all .2s;
  color:@seven;
  &:hover{
    color:@eight;
    text-decoration: none;
  }
}
.l-transition--whatszap {
  transition: all .2s;
  color:@whatsapp;
  &:hover{
    color:@seven;
    text-decoration: none;
  }
}
//////////////////////////////////////
.animation-element {
	opacity: 0;
	position: relative;
}
.animation-element.slide-left {
transform: translate3d(-100px, 0px, 0px);
transition: all 500ms linear;
opacity: 0;
}
.animation-element.slide-left.in-view {
opacity: 1;
transform: translate3d(0px, 0px, 0px);
}
.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2;
}
.theme {
	.active {
		color:@seven !important;
		border-bottom: 5px solid @seven
	}
}
#button {
	display: inline-block;
	background-color: @seven;
	text-align: center;
	border-radius: 4px;
	position: fixed;
	bottom: 30px;
	right: 30px;
	&:hover {
		cursor: pointer;
		background-color: #333;
	}
  }
  .transition {
	transition: background-color .3s,
	opacity .5s, visibility .5s;
	opacity: 0;
	visibility: hidden;
	z-index: 1000;
  }
  .transition:active {
	background-color: #555;
  }
.position-fixed--w100 {
  position: fixed;
  top:0;
  width: 100%;;
}
  .show {
	opacity: 1;
	visibility: visible;
  }
//////////////////////////////////////
.s-uppercase {
  text-transform: uppercase;
}
.br-top {
  border-top: 5px solid @six;
}
.media-middle {
  vertical-align: middle;
}
/////////////////////////////////////// componente do tema para carousel bootstrap
.s-indicators {
  top:20px;
  bottom: inherit;
  li {
    border: 1px solid @one;
    background-color: @five-offset;
  }
  .active {
    background-color: @one;
  }
}

/*
inspired from http://codepen.io/Rowno/pen/Afykb
https://stackoverflow.com/questions/26770055/bootstrap-carousel-fade-no-longer-working-with-maxcdn-3-3-bootstrap-min-css
*/
/*
WHAT IS NEW IN 3.3: "Added transforms to improve carousel performance in modern browsers."
now override the 3.3 new styles for modern browsers & apply opacity
*/
.carousel-fade {
	.carousel-inner {
		.item {
			opacity: 0;
			transition-property: opacity;
			transition-duration: 1s;
			transition-timing-function: linear;
		}
		.active {
			opacity: 1;
		}
		.active.left {
			left: 0;
			opacity: 0;
			z-index: 1;
		}
		.active.right {
			left: 0;
			opacity: 0;
			z-index: 1;
		}
		.next.left {
			opacity: 1;
		}
		.prev.right {
			opacity: 1;
		}
	}
	.carousel-control {
		z-index: 2;
	}
}
@media all and (transform-3d) {
	.carousel-fade {
		.carousel-inner {
			>.item.next {
				opacity: 0;
				-webkit-transform: translate3d(0, 0, 0);
				transform: translate3d(0, 0, 0);
			}
			>.item.active.right {
				opacity: 0;
				-webkit-transform: translate3d(0, 0, 0);
				transform: translate3d(0, 0, 0);
			}
			>.item.prev {
				opacity: 0;
				-webkit-transform: translate3d(0, 0, 0);
				transform: translate3d(0, 0, 0);
			}
			>.item.active.left {
				opacity: 0;
				-webkit-transform: translate3d(0, 0, 0);
				transform: translate3d(0, 0, 0);
			}
			>.item.next.left {
				opacity: 1;
				-webkit-transform: translate3d(0, 0, 0);
				transform: translate3d(0, 0, 0);
			}
			>.item.prev.right {
				opacity: 1;
				-webkit-transform: translate3d(0, 0, 0);
				transform: translate3d(0, 0, 0);
			}
			>.item.active {
				opacity: 1;
				-webkit-transform: translate3d(0, 0, 0);
				transform: translate3d(0, 0, 0);
			}
		}
	}
}
@media (-webkit-transform-3d) {
	.carousel-fade {
		.carousel-inner {
			>.item.next {
				opacity: 0;
				-webkit-transform: translate3d(0, 0, 0);
				transform: translate3d(0, 0, 0);
			}
			>.item.active.right {
				opacity: 0;
				-webkit-transform: translate3d(0, 0, 0);
				transform: translate3d(0, 0, 0);
			}
			>.item.prev {
				opacity: 0;
				-webkit-transform: translate3d(0, 0, 0);
				transform: translate3d(0, 0, 0);
			}
			>.item.active.left {
				opacity: 0;
				-webkit-transform: translate3d(0, 0, 0);
				transform: translate3d(0, 0, 0);
			}
			>.item.next.left {
				opacity: 1;
				-webkit-transform: translate3d(0, 0, 0);
				transform: translate3d(0, 0, 0);
			}
			>.item.prev.right {
				opacity: 1;
				-webkit-transform: translate3d(0, 0, 0);
				transform: translate3d(0, 0, 0);
			}
			>.item.active {
				opacity: 1;
				-webkit-transform: translate3d(0, 0, 0);
				transform: translate3d(0, 0, 0);
			}
		}
	}
}

/////////////////////////////////////// componente especifico do tema
.min-bar {
  min-height: 135px;
}
.s-caption {
  top:10%;
}
.colum-bar {
  width: 30%;
  height: 20px;
  position: absolute;
  left: 0;
  bottom: 0;
  &:before {
    content: '' !important;
    position: absolute;
    right: -20px;
    height: 20px;
    top: 0;
    width: 20px;
    -ms-transform: rotate(45deg);
    transform: rotate(-90deg);
    z-index: 1020;
    background: linear-gradient(135deg, #fff 51%, transparent 51%);
  }
}
/////////////////////////// FLEXBOX
.card-hover {
  img {
    transition: 0.5s ease;
  }
  &:hover {
    background-color: @seven;
    color: @one;
    .triangle-0 {
      border-bottom: solid 30px @seven;
      border-right: solid 30px @seven;
    }
  }
  a:hover {
    text-decoration: none;
    color: @one;
  }
  img:hover {
    filter: grayscale(100%);
  }
}
.card {
  display: flex;
  flex-wrap: wrap;
  justify-content:space-between;
}
.card-caption {
  padding: 10px;
}
.img-card {
  width: 100px; height: 100px; object-fit:cover;
}
.pointer {
  cursor: pointer;
}
.card-box {
  max-width: calc(30% - 1px);
  margin-bottom: 30px;
  transition: 0.5s ease;
  background-color:@four;
  margin-left:1px;
  margin-right: 1px;
  &:first-child {
    margin-left: 0;
  }
  &:last-child {
    margin-right: 0;
  }
}
.circle-absolut {
  position: absolute;
  top: 1%;
  left: 1%;
  z-index: 2;
}
.add-shadow {
  box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
}
.add-text-shadow {
  text-shadow: 1px 1px 4px #000;
}
.triangle {
  display: inline-block;
  margin: 0 5px;
  vertical-align: middle;
  z-index: 2;
}
.triangle-0 {
  transition: 0.5s ease-in;
  width: 60px;
  height: 60px;
  border-bottom: solid 30px @five-offset;
  border-right: solid 30px @five-offset;
  border-left: solid 30px transparent;
  border-top: solid 30px transparent;
}
.triangle-absolute {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: -5px;
}
.text-more {
  transform: rotate(-45deg);
  line-height: 1;
  font-size: 12px;
  margin-top: 8px;
  color: #fff;
  margin-left: -2px;
  cursor: pointer;
}
.control-img {
  max-width: 300px;
  max-height: 300px;
}
/////////////////////////// Paralax
.parallax {
    height: 600px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
/* Turn off parallax scrolling for all tablets and phones. Increase/decrease the pixels if needed */
@media only screen and (max-width: 1200px) {
  .control-img {
    max-width: 150px;
    max-height: 150px;
  }
  #carousel-personnalite {
    .carousel-caption {
      position: initial;
      background-color: @seven;
      padding: 15px;
    }
  }
  .fs--twenty-six {
    font-size: 40px;
  }
    .parallax {
        background-attachment: scroll;
        height: 700px;
    }
    .card-box {
      max-width: 100%;
    }
}
.center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
            align-items: center;
}
.parallax-img {
    background-image: url("../assets/img/bg.jpg");
}
.parallax-img2 {
    background-image: url("../assets/img/banner.jpg");
}
////////////////////////// componente media
.media-object {
  max-width: 100px !important;
}
////////////////////////// embed
.Embed {
    position: relative;
    display: block;
    height: 0;
    padding: 0;
    overflow: hidden;
}
.Embed--3by2 {
    padding-bottom: 66.667%;
}
.Embed--16by9 {
    padding-bottom: 35.600%;
}

////////////////////////// link control
.l-primary {
  color:@five;
  &:hover {
    color:@one;
    text-decoration: none;
  }
}
.l-nav {
  color:@three;
  &:hover {
    color: @seven;
  }
}
/////////////////////// Line-height class
.l--middle{
  line-height: 6.5;
}
//////////////////////////FLEX BOX
.d-flex {
  display: flex;
}
.flex-wrap {
  flex-wrap: wrap;
}
.justify-content-start {
  justify-content: flex-start;
}
///////////////////////////////////// img responsive
.img-fluid {
  max-width: 100%;
  height: auto;
}
/////////////////////////////////// Social
.depoimentos {
  padding: 50px 0;
}
#social-carousel {
  .carousel-inner {
    .item {

    }
  }
  .carousel-control.left, .carousel-control.right {
    background-image: none;
  }
}

/////////////////////////////////// galeria
.mosaic-margin > :last-child { margin-left: 0 !important; margin-right: 0 !important; }
.content {
	position: relative;
	width: calc(20% - 1px);
	//margin: auto;
	overflow: hidden;
	.content-overlay {
		background: rgba(77, 43, 57, 0.7);
		position: absolute;
		height: 100%;
		width: 100%;
		left: 0;
		top: 0;
		bottom: 0;
		right: 0;
		opacity: 0;
		transition: all 0.4s ease-in-out 0s;
	  }
	  &:hover {
		.content-overlay{
			opacity: 1;
		}
		.content-details{
			top: 50%;
			left: 50%;
			opacity: 1;
		}
	  }
  }
  .content-details {
	position: absolute;
	text-align: center;
	padding-left: 1em;
	padding-right: 1em;
	width: 100%;
	top: 50%;
	left: 50%;
	opacity: 0;
	transform: translate(-50%, -50%);
	transition: all 0.3s ease-in-out 0s;
	h3{
		color: #fff;
		font-weight: 500;
		letter-spacing: 0.15em;
		margin-bottom: 0.5em;
		text-transform: uppercase;
	  }
	  p{
		color: #fff;
		font-size: 0.8em;
	  }
  }

  .fadeIn-bottom{
	top: 80%;
  }

  .fadeIn-top{
	top: 20%;
  }

  .fadeIn-left{
	left: 20%;
  }

  .fadeIn-right{
	left: 80%;
  }
.embed {
  overflow: hidden;
  max-height: 250px;
  margin-right: 1px;
  margin-bottom: 1px;
}

@media (max-width: @screen-xs-max) {
  .l--middle{
    line-height: 1.4;
  }
  .Embed--16by9 {
    padding-bottom: 45.600%;
  }
  .fs--twenty-five {font-size: 30px;}
  .fs--nineteen {font-size: 22px;}
  .s-caption {
    position: inherit;
    left: inherit;
    bottom: inherit;
    right: inherit;
    padding-top: inherit;
    padding-bottom: inherit;
    background-color: @two;
  }
}

.media-img {
  border: 1px solid #480e3f; 
  border-radius: 50%;
  width: 80px;
}

.media-space {
  margin-bottom: 30px;
}

.media-title {
  font-size: 20px;
  color: #480e3f;
}

.title--hero {
  font-size: 60px;
  color: white;
  margin: 0;
  text-transform: uppercase;
  line-height: 0.9;
  font-weight: bold;
  @media (max-width: @screen-xs-max) {
    font-size: 30px;
    line-height: 1.2;
    text-align: center;
  }
}

.subtitle--hero {
  font-size: 40px;
  color: white;
  @media (max-width: @screen-xs-max) {
    font-size: 20px;
    
  }
}

.hero--container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  justify-content: center;
}

.hero {
  height: 630px;
  background-attachment: fixed;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-head {
  display: flex;
  align-items: center;
  min-height: 130px;
  background-color: hsla(35, 95%, 59%, 0.8);
}

.hero-body {
  display: flex;
  align-items: center;
}

.hero-item2 {
  background-image: url();
}

.hero-item {
  background-image: url('../assets/img/hero.jpg');
}

.setsubbackground {
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 700px;
  height: 100%;
}

.h-100 {
  height: 100%;
}

section {
  padding: 60px 0;
}

.videos {
  background-color: #444;
  h2 {
    color: #fff;
    margin-top: 0;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
  }
}

.convenios, .depoimentos {
  h2 {
    color: #fff;
    margin-top: 0;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
  }
}



.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

.link-equipe {
  img {
    background-color: transparent;
  }

  img:hover {
    background-color: @seven;
  }
}

.freepik {
  position: absolute;
  bottom: 15px;
  right: 15px;
  color: #fff;
  font-size: 12px;
}