section.b-color--four.s-medium.page-section

  #carousel-personnalite.carousel.slide.carousel-fade(data-ride='carousel')
    // Indicators
    ol.carousel-indicators.hidden-xs.s-indicators
      li.active(data-target='#carousel-personnalite', data-slide-to='0')
      li(data-target='#carousel-personnalite', data-slide-to='1')
      //- li(data-target='#carousel-personnalite', data-slide-to='2')
      //- li(data-target='#carousel-personnalite', data-slide-to='3')
      li(data-target='#carousel-personnalite', data-slide-to='2')
      li(data-target='#carousel-personnalite', data-slide-to='3')
      li(data-target='#carousel-personnalite', data-slide-to='4')
    // Wrapper for slides
    .carousel-inner(role='listbox')
      mixin item(c1,c2,c3,c33,c4,c44,c5,c55,color, texto)
        .item(class= c1)
          .Embed.Embed--16by9.hidden-xs.hidden-sm
            img.img-responsive(src= c2, alt= c3)
          .carousel-caption
            img.control-img(src= c33)
            h1(class= c4)
              = c44
              br
            p(class= c5)
              = c55
            p(class= color)
              = texto
            a.btn.btn-success(href='https://wa.me/5561982463555')
              span.fab.fa-whatsapp &nbsp;
              span Fale Agora

      +item('active','assets/img/slides/1.jpg','Slider0','../assets/img/logoWhite.svg','t-color--five-offset fs--twenty-six','Seja bem vindo','t-color--one fs--eight','Ao Instituto Personnalité','teste', 'Instituto Personnalité é formada por uma equipe de dentistas experientes, focados e especializados em odontologia, nosso corpo clínico oferece diferentes áreas na odontologia, confira e veja abaixo nossas especialidades. Seja bem vindo.')
      +item('','assets/img/slides/2.jpg','Slider1','../assets/img/logoWhite.svg','t-color--five-offset fs--twenty-six','Nossa equipe','t-color--one fs--eight','Instituto Personnalité','teste', 'Compromisso, trabalho em equipe e melhoria contínua, são chaves para conquistar excelência em qualidade e satisfação dos clientes.')
      //- +item('','assets/img/slides/2.jpg','Slider1','../assets/img/logoWhite.svg','t-color--five-offset fs--twenty-six','Instituto Personnalité','fs--seven','Implantondontia','Implantondontia, Endodontia, Ortodontia, Periodontia, Protese, Estética oral, Cirurgias, Clínica Geral','')
      //- +item('','assets/img/slides/3.jpg','Slider2','../assets/img/logoWhite.svg','t-color--five-offset fs--twenty-six','Tecnologia Odontologica','','','', '')
      //- +item('','assets/img/slides/4.jpg','Slider3','../assets/img/logoWhite.svg','','','','','', '')
      +item('','assets/img/slides/5.jpg','Slider4','../assets/img/dentist01-white.svg','t-color--five-offset fs--twenty-six','Implantodontia','t-color--one fs--eight','Instituto Personnalité','teste', 'Implantodontia guiada por computador, tecnologia que oferece grande desempenho e conforto aos pacientes, resultados com clareza e cirurgia rápida. Fale agora conosco via whatsapp')
      +item('','assets/img/slides/6.jpg','Slider5','../assets/img/dentist06-white.svg','t-color--five-offset fs--twenty-six','Clínica Geral','t-color--one fs--eight','Instituto Personnalité','teste', 'Clínica geral auxiliando tratamentos adequados para sua saúde bucal. Venha fazer uma consulta, fale conosco. ')
      +item('','assets/img/slides/7.jpg','Slider6','../assets/img/dentist07-white.svg','t-color--five-offset fs--twenty-six','Excelentes Profissionais','t-color--one fs--eight','Instituto Personnalité','teste', 'Conte com o corpo clínico de especialistas da Personallité! ')
      
      //- +item('','assets/img/slides/5.jpg','Slider4','../assets/img/logoWhite.svg','','','','','', '')
      //- +item('','assets/img/slides/6.jpg','Slider5','../assets/img/logoWhite.svg','','','','','', '')
      //- +item('','assets/img/slides/7.jpg','Slider6','../assets/img/logoWhite.svg','','','','','', '')

    // Controls
    .hidden-xs
      a.left.carousel-control(href='#carousel-personnalite', role='button', data-slide='prev')
        span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
        span.sr-only Previous
      a.right.carousel-control(href='#carousel-personnalite', role='button', data-slide='next')
        span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
        span.sr-only Next
