iframe#contatos.scroll-lock.locked(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d61443.02195509457!2d-47.88381525766047!3d-15.741144630858551!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x935a39915eb3723f%3A0xa98d091cb15c1c25!2sInstituto+Personnalite+Odontologia!5e0!3m2!1spt-BR!2sbr!4v1550003895818', width='100%', height='400', frameborder='0', style='border:0', allowfullscreen='')
section.b-color--three.page-section.c-box
  .container
    .row
      .col-md-12.t-color--one
        h2.s-uppercase.t-color--one
          a(name='contatos')
          strong Contatos
        h3 Envie uma mensagem!
        form.c-bottom(ACTION="http://form.ultramail.com.br/" METHOD="POST")
          .row
            .col-md-6
              .form-group
                label(for='email') Endereço de E-mail
                input#email.form-control(type='email', placeholder='Email',name='email', required)
              .form-group
                label(for='nome') Nome
                input#nome.form-control(type='text', placeholder='Nome',name='nome' required)
              .form-group
                label(for='mensagem') Mensagem
                textarea.form-control#mensagem(placeholder="Mensagem",name='mensagem' rows="5", required)
              button.btn.btn-default(type='submit', value='Enviar') Enviar

              input(type='hidden', name='key', value='eJwB2QAm/4fHJyaWlJ+isAvXooyNSR9e5+80hsSix83wuv5YzathRm9ybVVsdHJhTWFpbE0OEmvW+c4rKJlsnDQy0zia/9BRP55xsNW4Adf2cWgMYEYMCO7rorWiB/9xi4kmOxuK8ZE3eNHqaQPEVhiSKpJVjPBORTqs0tp32aTp/1wha9IIlXgTx5NW4EYqXSe6xQ3UkCWZWxJmXEovZR1NVRjwFi8TS9gSF/s+oWG98br/BcNo4D6RDLJU0iVoQGAkcURI3rGg2HeqBgxSUJH03Et9OJ7SUf74cBmTiT3QgWlK')

              input(type='hidden', name='redirect', value='http://personnaliteodontologia.com.br/PaginaDeResposta.html')

            .col-md-6
              .form-group
                label Mais contatos
                p.t-color--one
                  span.fas.fa-map-marker
                  |  Setor terminal norte Edifico Jaime Leal Salas:217 a 220 Asa Norte Brasília-DF
                p.t-color--one
                  span.fas.fa-clock
                  |  Segunda a sexta de 08h00 às 19h00. Sábados de 08h00 às 12h00
                ul.list-unstyled
                  li
                    a.l-transition--primary(href='tel:(61) 33498153')
                      spam.glyphicon.glyphicon-phone-alt &nbsp;
                      | (61) 3349-8153
                  li
                    a.l-transition--primary(href='tel:(61) 34476071')
                      spam.glyphicon.glyphicon-phone-alt &nbsp;
                      | (61) 3447-6071
                  li
                    a.l-transition--primary(href='tel:(61) 981613555')
                      spam.glyphicon.glyphicon-phone-alt &nbsp;
                      | (61) 98161-3555
                  li
                    a.l-transition--primary(href='tel:(61) 983458555')
                      spam.glyphicon.glyphicon-phone-alt &nbsp;
                      | (61) 98345-8555
                  li
                    a.l-transition--primary(href='tel:(61) 982640555')
                      spam.glyphicon.glyphicon-phone-alt &nbsp;
                      | (61) 98264-0555
                  li
                    a.l-transition--primary(href='tel:(61) 982463555')
                      spam.glyphicon.glyphicon-phone-alt &nbsp;
                      | (61) 98246-3555
                  li
                    a.l-transition--primary(href='https://wa.me/5561982463555')
                      spam.glyphicon.glyphicon-phone-alt &nbsp;
                      | (61) 98246-3555 (Whatsapp)
                p
                  a.l-transition--primary(href='mailto:contatos@personnaliteodontologia.com.br')
                    spam.glyphicon.glyphicon-envelope &nbsp;
                    |  E-mail: contatos@personnaliteodontologia.com.br
