section.s-medium
  .container
    .row
      .col-md-12
        h2.s-uppercase.t-color--seven
          a(name='contatos')
          strong Contatos
  .br-top
    iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1920.1775866890348!2d-47.897374630834165!3d-15.73233927782565!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x935a399144e27d4b%3A0xd36e52af96770efa!2sedificio+jaime.leal!5e0!3m2!1spt-BR!2sbr!4v1481909115214', width='100%', height='200', frameborder='0', style='border:0', allowfullscreen='')
  .container
    .row
      .col-md-12.t-color--three
        h3 Envie uma mensagem!
        form
          .row
            .col-md-6
              .form-group
                label(for='exampleInputEmail1') Endereço de E-mail
                input#exampleInputEmail1.form-control(type='email', placeholder='Email', required)
              .form-group
                label(for='nome') Nome
                input#nome.form-control(type='text', placeholder='Nome', required)
              .form-group
                label(for='mensagem') Mensagem
                textarea.form-control#mensagem(placeholder="Mensagem", rows="5", required)
              button.btn.btn-default(type='submit') Enviar
            .col-md-6
              .form-group
                label Mais contatos
                p: strong Endereço: Setor terminal norte Edifico Jaime Leal Sala:219 Asa Norte Brasília-DF
                p: strong
                  spam.glyphicon.glyphicon-phone-alt
                  |  Fone: (61) 3349-8183 / 3447-6071 / 8161-3555 / 8246-3555
                p: strong
                  spam.glyphicon.glyphicon-envelope
                  |  E-mail: contatos@personnaliteodontologia.com.br
