section.b-color--three.convenios
  .container
    .row
      .col-md-12
        h2.c-bottom Convênios
      .t-color--one.fs--two
        .col-md-4
          ul.list-unstyled.s-medium
            li  Amil
            li  Assefaz
            li  Belo Dente
            li  Bradesco
            li  Capesesp
            li  Care Plus
            li  DentalUni
            li  E-Vida
            li  Golden Cross
            li  IBI
            li  Infraero
            li  Inpao
            li  Odontogroup
            li  OdontoPrev
            li  PlanAssiste
        .col-md-4
          ul.list-unstyled.s-medium
            li  Prima Vida
            li  Privian
            li  Rede Odonto Empresas
            li  Riachuelo
            li  Saúde Sim
            li  Sepao
            li  Sulamerica
            li  Supremo Tribunal Federal
            li  Supremo Tribunal Militar
            li  Supremo Tribunal de Justiça
            li  Tribunal Superior do Trabalho
            li  Unimed
            li  Uniodonto
            li  Porto Seguro 
            li  Pleno Odonto 
        .col-md-4
          ul.list-unstyled
            li  Premium saúde
            li  Odontomaxi
            li  Interodonto 
            li  Odontolife
            li  Uniodonto 





