section.b-color--four.s-medium
  .container
    .row
      .col-md-12
        h2.s-uppercase.t-color--seven
          strong Convênios
      .t-color--three.fs--four
        .col-md-6
          ul.list-unstyled
            li Amil
            li E-vida
            li Unimed
            li Golden
            li Sorriso
            li Primavida
            li Rede Odon
            li Uniodont
            li Odgroup
            li Rede Unna
            li Yes Odont
        .col-md-6
          ul.list-unstyled
            li Belo Dent
            li Inpao
            li Dent Uni
            li Saude Sim
            li Lis Dental
            li IGM
            li Sulamerc2
            li Sulamerc1
