section.b-color--five-offset
  .container
    .row
      .col-md-12
        h2.s-uppercase.t-color--one
          a(name='convenios')
          strong Convênios
      .t-color--one.fs--two
        .col-md-4
          ul.list-unstyled.s-medium
            li Amil
            li Assefaz
            li Belo Dente
            li Bradesco
            li Capesesp
            li Care Plus
            li DentalUni
            li DM odonto
            li E-Vida
            li Golden Cross
            li Hospital naval
            li IBI
            li Infraero
            li Inpao
            li Life Empresarial
        .col-md-4
          ul.list-unstyled.s-medium
            li Lis Dental
            li Odontogroup
            li OdontoPrev
            li PlanAssiste
            li Prima Vida
            li Privian
            li Pronto Dente
            li Rede Odonto Empresas
            li Rede Unna
            li Riachuelo
            li Saúde Sim
            li Sepao
            li Sorriso
            li Sulamerica
            li Stf
        .col-md-4
          ul.list-unstyled
            li Stj
            li Supremo tribunal militar
            li Tribunais regional eleitoral
            li Supremo tribunal de justiça
            li Tribunal superior do trabalho
            li Unimed
            li Uniodonto
            li Yes Odonto





