section.b-color--five-offset.depoimentos(role='Social Depoimentos')
  .container
    .row
      .col-md-12
        h2.c-bottom Depoimentos
  #social-carousel.carousel.slide.depoimentos(data-ride='carousel')
    // Indicators
    //- ol.carousel-indicators
    //-   li.active(data-target='#social-carousel', data-slide-to='0')
    //-   li(data-target='#social-carousel', data-slide-to='1')
    //-   li(data-target='#social-carousel', data-slide-to='2')
    // Wrapper for slides
    .carousel-inner(role='listbox')
      .item.active
        .container
          .row
            .col-md-6.c-bottom
              .media
                .media-left
                  a(href='#')
                    img.c-box--img--b.media-object.img-circle.img-fluid(src='../assets/img/depoimentos/carlos.jpg', alt='...' width='80')
                .media-body
                  i.t-color--one Excelente atendimento, ótimos profissionais.
                  h4.media-heading.t-color--four: strong Carlos Vz
                  |     Brasília

            .col-md-6.c-bottom
              .media
                .media-left
                  a(href='#')
                    img.c-box--img--b.media-object.img-circle.img-fluid(src='../assets/img/depoimentos/roberta.jpg', alt='...' width='80')
                .media-body
                  i.t-color--one Atendimento excelente e uma grande facilidade em ter vários tratamentos lá mesmo 
                  h4.media-heading.t-color--four: strong Roberta Alvim
                  |     Brasília
      .item
        .container
          .row
            .col-md-6.c-bottom
              .media
                .media-left
                  a(href='#')
                    img.c-box--img--b.media-object.img-circle.img-fluid(src='../assets/img/depoimentos/paulline.jpg', alt='...' width='80')
                .media-body
                  i.t-color--one excelentes profissionais, ótimos preços e atendimento!
                  h4.media-heading.t-color--four: strong Paulline Garcia
                  |     Brasília

            .col-md-6.c-bottom
              .media
                .media-left
                  a(href='#')
                    img.c-box--img--b.media-object.img-circle.img-fluid(src='../assets/img/depoimentos/rodrigo.jpg', alt='...' width='80')
                .media-body
                  i.t-color--one Ótimo essa clínica, atendimento preços e tudo!
                  h4.media-heading.t-color--four: strong Rodrigo Poncinelli 
                  |     Brasília
      .item
        .container
          .row
            .col-md-6.c-bottom
              .media
                .media-left
                  a(href='#')
                    img.c-box--img--b.media-object.img-circle.img-fluid(src='../assets/img/depoimentos/marilia.jpg', alt='...' width='80')
                .media-body
                  i.t-color--one Atendimento excelente e com muita competência!
                  h4.media-heading.t-color--four: strong Marilia Assis Brasil
                  |     Brasília

            .col-md-6.c-bottom
              .media
                .media-left
                  a(href='#')
                    img.c-box--img--b.media-object.img-circle.img-fluid(src='../assets/img/depoimentos/augustto.jpg', alt='...' width='80')
                .media-body
                  i.t-color--one Ótimo essa clínica, atendimento preços e tudo!
                  h4.media-heading.t-color--four: strong Augustto Bandeira
                  |     Brasília
    // Controls
    .hidden-xs
      a.left.carousel-control(href='#social-carousel', role='button', data-slide='prev')
        span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
        span.sr-only Previous
      a.right.carousel-control(href='#social-carousel', role='button', data-slide='next')
        span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
        span.sr-only Next
  .container
    .row
      .col-md-12.text-center
        a.l-transition--default.c-box.fs--seven(href='https://www.facebook.com/institutopersonnalitedf' target='_blank' title='facebook')
          span.fab.fa-facebook
        a.l-transition--default.c-box.fs--seven(href='https://www.instagram.com/institutopersonnalitedf/' target='_blank' title='instagram')
          span.fab.fa-instagram