mixin media(src, text, text2, classe)
	.col-md-6.col-xs-12.s-large
		.media.b-color--one-offset.c-box
			.media-left
				a(href='#')
					img.media-object.img-circle.img-thumbnail(src=src style='width: 100px; height: 100px; object-fit:cover;')
			.media-body
				h4.media-heading.s-uppercase.t-color--seven: strong= text
				em= text2
			.text-right
				a.btn.btn-success.btn-xs(data-toggle="modal" data-target=classe): i.fas.fa-plus-square &nbsp; Saiba mais

+media('assets/img/equipe2018/DrThales.jpg','Dr. Thales Brasil','Esp. Periodontia, Esp. Implantodontia, Mes. Implantodontia, Dou. Implantodontia, Consultor Científico em Biomateriais','.modal-thales')
+media('assets/img/equipe2018/DrJalusa.png','Dr(a). Jalusa Tassinari','Ortodontista','.modal-jalusa')
+media('assets/img/equipe2018/DrMaira.jpg','Dr(a). Maíra Mascarenhas','Clinico geral, atualização em endodontia, aperfeiçoamento em cirurgia oral menor.','.modal-maira')
+media('assets/img/equipe2018/DrThayse.jpg','Dr(a). Thaise Cristina','Especialista em prótese dentária.','.modal-thayse')
+media('assets/img/equipe2018/DrJoao.jpg','Dr. João Henrique Mascarenhas','Clinico geral','.modal-joao')
+media('assets/img/equipe2018/DrRogerio.jpg','Dr. Rogerio Duarte','Especialista em endodontia.','.modal-rogerio')
+media('assets/img/equipe2018/DrLarissa.jpg','Dr(a). Larissa Freire','Curso de extensāo DTM e Dor Orofacial no Centro da Dor Orofacial do GAAAC.','.modal-larissa')
+media('assets/img/equipe2018/DrIvanir.jpg','Dr. Ivanir Grecco','Especialista em cirurgia e traumatologia buco maxilo facial, realizado na São Leopoldo Mandic, Unidade Campinas.','.modal-ivanir')
+media('assets/img/equipe2018/DrCarolina.jpg','Dr(a). Carolina Toledo','Especializacao em Odontopediatria pela ABO.','.modal-carolina')
+media('assets/img/equipe2018/DrIvanir.jpg','Dr. Ivanir Grecco','Especialista em cirurgia e traumatologia buco maxilo facial, realizado na São Leopoldo Mandic, Unidade Campinas.','.modal-ivanir')

include modal/thales
include modal/jalusa
include modal/maira
include modal/thayse
include modal/joao
include modal/rogerio
include modal/larissa
include modal/ivanir
include modal/carolina