mixin col-md-4(img, text, text2)
  .col-md-4.s-small
    .b-gradient--secundary.text-center
      .c-box.t-color--three.min-bar
        p.fs--six
          strong= text
        i= text2
      img.img-circle.img-thumbnail(src=img)



+col-md-4('assets/img/thumbs/DrThales.png','Dr. Thales Brasil','Esp. Periodontia, Esp. Implantodontia, Mes. Implantodontia, Dou. Implantodontia, Consultor Científico em Biomateriais')
+col-md-4('assets/img/thumbs/DrJalusa.png','Dr(a). Jalusa Tassinari','Ortodontista')
+col-md-4('assets/img/thumbs/DrMaira.png','Dr(a). Maíra Mascarenhas','Clinico geral, atualização em endodontia, aperfeiçoamento em cirurgia oral menor.')
+col-md-4('assets/img/thumbs/DrThayse.png','Dr(a). Thayse','Especialista em prótese dentária.')
+col-md-4('assets/img/thumbs/DrJoao.png','Dr. João Henrique','Clinico geral')
+col-md-4('assets/img/thumbs/DrAlex.png','Dr. Alex Zerbato','Especialista em endodontia.')
