mixin col-md-3(data, img, text, text2)
  .col-md-3
    .media.media-space
      .media-left
        a.link-equipe(href="#" data-toggle="modal" data-target=data title="Currículo Completo")
          img.media-object.img-circle.img-thumbnail.img-card(src=img)
      .media-body
        h4.media-heading.media-title
          = text
        = text2
+col-md-3('.modal-thales','assets/img/equipe2018/DrThales.jpg','Dr. Thales Brasil', 'CEO')
+col-md-3('.modal-ivanir','assets/img/equipe2018/DrIvanir.jpg','Dr. Ivanir Grecco', 'Buco-Maxilo-Facial')
+col-md-3('.modal-jalusa','assets/img/equipe2018/DrJalusa.png','Dra. Jalusa Tassinari', 'Ortodontia')
+col-md-3('.modal-thayse','assets/img/equipe2018/DrThayse.jpg','Dra. Thaise Cristina', 'Prótese')
//- +col-md-3('','assets/img/equipe2018/DrJaqueline.jpg','Dra. Jaqueline Garcia', 'Clinica Geral')

+col-md-3('.modal-maira','assets/img/equipe2018/DrMaira.jpg','Dra. Maíra Mascarenhas', 'Endodontia')
+col-md-3('','assets/img/equipe2018/DrMarcella.jpg','Dra. Marcella Meirelles', 'Ortodontia / Estética')
+col-md-3('','assets/img/equipe2018/DrBarbara.jpg','Dra. Bárbara Viana', 'Restaurações Diretas e Indiretas')
+col-md-3('','assets/img/equipe2018/DrMayla.jpg','Dra. Mayla Ditzel', 'Endodontia')
+col-md-3('','assets/img/equipe2018/DrCarolina.jpg','Dra. Carolina Toledo', 'Odontopediatria')
+col-md-3('','assets/img/equipe2018/DrLuiz.jpg','Dr. Luís Augusto', 'Cirurgia / Prótese')
+col-md-3('','assets/img/equipe2018/DrRafaela.jpg','Dra. Rafaela Peixoto', 'OdontoPediatria')
+col-md-3('','assets/img/equipe2018/DrGiulia.jpg','Dra. Giulia Barbosa', 'Clinica Geral')
+col-md-3('','assets/img/equipe2018/DrNatasha.jpg','Dra. Natasha Penafort', 'Clinica Geral')
+col-md-3('','assets/img/equipe2018/DrNatalia.jpg','Dra. Natália Santi', 'Clinica Geral')
+col-md-3('','assets/img/equipe2018/DrAnny.jpg','Dra. Anny Ledo', 'Harmonizaçāo Facial')
//- +col-md-3('','assets/img/equipe2018/DrLaryssa.jpg','Dra. Laryssa Macedo', 'Harmonização Oro Facial')

include modal/thales
include modal/ivanir
include modal/jalusa
include modal/thayse
include modal/rogerio
include modal/maira
include modal/joao
include modal/larissa
include modal/carolina
include modal/mayla
