mixin media(src, text, text2, classe)
	.col-md-6.col-xs-12.s-large
		.media.b-color--one-offset.c-box
			.media-left
				a(href='#')
					img.media-object.img-circle.img-thumbnail(src=src)
			.media-body
				h4.media-heading.s-uppercase.t-color--seven: strong= text
				em= text2
			.text-right
				a.btn.btn-success.btn-xs(data-toggle="modal" data-target=classe): i.fas.fa-plus-square &nbsp; Saiba mais

+media('assets/img/thumbs/DrThales.png','Dr. Thales Brasil','Esp. Periodontia, Esp. Implantodontia, Mes. Implantodontia, Dou. Implantodontia, Consultor Científico em Biomateriais','.modal-thales')
+media('assets/img/thumbs/DrJalusa.png','Dr(a). Jalusa Tassinari','Ortodontista','.modal-jalusa')
+media('assets/img/thumbs/DrMaira.png','Dr(a). Maíra Mascarenhas','Clinico geral, atualização em endodontia, aperfeiçoamento em cirurgia oral menor.','.modal-maira')
+media('assets/img/thumbs/DrThayse.png','Dr(a). Thayse','Especialista em prótese dentária.','.modal-thayse')
+media('assets/img/thumbs/DrJoao.png','Dr. João Henrique','Clinico geral','.modal-joao')
+media('assets/img/thumbs/DrRogerio.png','Dr. Rogerio Ariela','Especialista em endodontia.','.modal-rogerio')

include modal/thales
include modal/jalusa
include modal/maira
include modal/thayse
include modal/joao
include modal/rogerio