mixin col-md-3(img, text, text2)
  .col-md-3
    .b-gradient--primary.text-center.s-medium.animation-element.slide-left.in-view
      img(src=img style='max-width:30%')
      p.t-color--three.fs--eight= text
      small.br-easy.b-color--six.c-box.t-color--two= text2
+col-md-3('assets/img/dentist01.svg','Implantondontia', 'Guiado por computador')
+col-md-3('assets/img/dentist02.svg','Endodontia', 'Com microscópio')
+col-md-3('assets/img/dentist03.svg','Ortodontia', 'Aparelhos estéticos de porcelana')
+col-md-3('assets/img/dentist04.svg','Periodontia', 'Plásticas gengivais')
+col-md-3('assets/img/dentist08.svg','Protese', 'Feitas por computador')
+col-md-3('assets/img/dentist05.svg','Estética oral', 'Botox')
+col-md-3('assets/img/dentist07.svg','Cirurgias', 'Avançadas')
+col-md-3('assets/img/dentist06.svg','Clínica Geral', 'Grande Infraestrutura')

