hr
footer.b-color--seven
  .container
    .row
      .col-md-6
        h2.fs--three.t-color--one Mapa do site
        +menu('list-unstyled','l-primary')
      .col-md-6.text-right
        .c-top.c-bottom
          img(src='img/logoWhite.svg', alt='logo personnalite')
  .footer--botton.b-color--two.t-color--one.c-box
    .container
      .row
        .col-md-6
          | Copyright © 2017 Todos os direitos reservados &nbsp;
          a.l-primary(href='#') http://www.personnalite.com.br
        .col-md-6.text-right
          | Designed by carlosvz
