footer.b-color--two-offset.c-top
  .container
    .row
      .col-md-4
        h2.fs--three.t-color--one Mapa do site
        +menu('list-unstyled','l-primary')
      .col-md-4.text-center.c-top
        img(src='assets/img/logoWhite.svg')

      .col-md-4.text-right
        div
          ul.pull-right.list-unstyled.nav.navbar-nav.head-menu.fs--three.s-uppercase.s-gutter-negative--right
            li
              a.t-color--one(href='https://www.facebook.com/institutopersonnalitedf' title='Facebook' target='_blank'): i.fab.fa-facebook
            li
              a.t-color--one(href='https://www.instagram.com/institutopersonnalitedf/' title='Instagram' target='_blank'): i.fab.fa-instagram
            li
              a
                iframe(src='https://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.personnaliteodontologia.com.br%2F&width=152&layout=button_count&action=like&size=small&show_faces=true&share=true&height=46&appId', width='152', height='46', style='border:none;overflow:hidden', scrolling='no', frameborder='0', allowtransparency='true', allow='encrypted-media')
        iframe.s-large(src='https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Finstitutopersonnalitedf&tabs&width=340&height=120&small_header=true&adapt_container_width=true&hide_cover=false&show_facepile=true&appId', width='340', height='120', style='border:none;overflow:hidden', scrolling='no', frameborder='0', allowtransparency='true', allow='encrypted-media')
  .footer--botton.b-color--two.t-color--one.c-box
    .container
      .row.fs--zero
        .col-md-6
          | Copyright © 2017 Todos os direitos reservados &nbsp;
          a.l-primary(href='http://www.personnaliteodontologia.com.br/') http://www.personnaliteodontologia.com.br/
        .col-md-6.text-right
          | Designed by 
          a(href='https://github.com/viruzvz', target='_blank') carlosvz
