hr
footer.b-color--three
  .container
    .row
      .col-md-6
        h2.fs--three.t-color--one Mapa do site
        +menu('list-unstyled','l-primary')
      .col-md-6.text-right
        .c-top.c-bottom
          a(href='http://www.personnaliteodontologia.com.br/'): img(src='assets/img/logoWhite.svg', alt='logo personnalite')
  .footer--botton.b-color--two.t-color--one.c-box
    .container
      .row.fs--zero
        .col-md-6
          | Copyright © 2017 Todos os direitos reservados &nbsp;
          a.l-primary(href='http://www.personnaliteodontologia.com.br/') http://www.personnaliteodontologia.com.br/
        .col-md-6.text-right
          | Designed by 
          a(href='https://github.com/viruzvz', target='_blank') carlosvz
