#galeria1.modal.fade(tabindex='-1', role='dialog', aria-labelledby='galeria-label')
  .modal-dialog(role='document')
    .modal-content
      .modal-body.modal-body--js

      .modal-footer
        button.btn.btn-default(type='button', data-dismiss='modal') Fechar