figure.d-flex.flex-wrap.justify-content-start.mosaic-margin
  .content.embed
    a(href='../assets/img/album2018/clinica/1.jpg' data-toggle="lightbox" data-gallery="gallery")
      .content-overlay
      img.img-fluid(src='../assets/img/album2018/clinica/1.jpg')
      .content-details.fadeIn-bottom
        h3.content-title Instituto Personnalité
        p.content-text Odontologia
  .content.embed
    a(href='../assets/img/album2018/clinica/2.jpg' data-toggle="lightbox" data-gallery="gallery")
      .content-overlay
      img.img-fluid(src='../assets/img/album2018/clinica/2.jpg')
      .content-details.fadeIn-bottom
        h3.content-title Instituto Personnalité
        p.content-text Odontologia
  .content.embed
    a(href='../assets/img/album2018/clinica/3.jpg' data-toggle="lightbox" data-gallery="gallery")
      .content-overlay
      img.img-fluid(src='../assets/img/album2018/clinica/3.jpg')
      .content-details.fadeIn-bottom
        h3.content-title Instituto Personnalité
        p.content-text Odontologia
  .content.embed
    a(href='../assets/img/album2018/clinica/4.jpg' data-toggle="lightbox" data-gallery="gallery")
      .content-overlay
      img.img-fluid(src='../assets/img/album2018/clinica/4.jpg')
      .content-details.fadeIn-bottom
        h3.content-title Instituto Personnalité
        p.content-text Odontologia
  .content.embed
    a(href='../assets/img/album2018/clinica/5.jpg' data-toggle="lightbox" data-gallery="gallery")
      .content-overlay
      img.img-fluid(src='../assets/img/album2018/clinica/5.jpg')
      .content-details.fadeIn-bottom
        h3.content-title Instituto Personnalité
        p.content-text Odontologia
  //- .content.embed
  //-   a(href='../assets/img/album2018/clinica/6.jpg' data-toggle="lightbox" data-gallery="gallery")
  //-     .content-overlay
  //-     img.img-fluid(src='../assets/img/album2018/clinica/6.jpg')
  //-     .content-details.fadeIn-bottom
  //-       h3.content-title Instituto Personnalité
  //-       p.content-text Odontologia
  .content.embed
    a(href='../assets/img/album2018/clinica/7.jpg' data-toggle="lightbox" data-gallery="gallery")
      .content-overlay
      img.img-fluid(src='../assets/img/album2018/clinica/7.jpg')
      .content-details.fadeIn-bottom
        h3.content-title Instituto Personnalité
        p.content-text Odontologia
  .content.embed
    a(href='../assets/img/album2018/clinica/8.jpg' data-toggle="lightbox" data-gallery="gallery")
      .content-overlay
      img.img-fluid(src='../assets/img/album2018/clinica/8.jpg')
      .content-details.fadeIn-bottom
        h3.content-title Instituto Personnalité
        p.content-text Odontologia
  .content.embed
    a(href='../assets/img/album2018/clinica/9.jpg' data-toggle="lightbox" data-gallery="gallery")
      .content-overlay
      img.img-fluid(src='../assets/img/album2018/clinica/9.jpg')
      .content-details.fadeIn-bottom
        h3.content-title Instituto Personnalité
        p.content-text Odontologia
  //- .content.embed
  //-   a(href='../assets/img/album2018/clinica/10.jpg' data-toggle="lightbox" data-gallery="gallery")
  //-     .content-overlay
  //-     img.img-fluid(src='../assets/img/album2018/clinica/10.jpg')
  //-     .content-details.fadeIn-bottom
  //-       h3.content-title Instituto Personnalité
  //-       p.content-text Odontologia
  .content.embed
    a(href='../assets/img/album2018/clinica/11.jpg' data-toggle="lightbox" data-gallery="gallery")
      .content-overlay
      img.img-fluid(src='../assets/img/album2018/clinica/11.jpg')
      .content-details.fadeIn-bottom
        h3.content-title Instituto Personnalité
        p.content-text Odontologia
  .content.embed
    a(href='../assets/img/album2018/clinica/12.jpg' data-toggle="lightbox" data-gallery="gallery")
      .content-overlay
      img.img-fluid(src='../assets/img/album2018/clinica/12.jpg')
      .content-details.fadeIn-bottom
        h3.content-title Instituto Personnalité
        p.content-text Odontologia
  .content.embed
    a(href='../assets/img/album2018/clinica/13.jpg' data-toggle="lightbox" data-gallery="gallery")
      .content-overlay
      img.img-fluid(src='../assets/img/album2018/clinica/13.jpg')
      .content-details.fadeIn-bottom
        h3.content-title Instituto Personnalité
        p.content-text Odontologia
  .content.embed
    a(href='../assets/img/album2018/clinica/14.jpg' data-toggle="lightbox" data-gallery="gallery")
      .content-overlay
      img.img-fluid(src='../assets/img/album2018/clinica/14.jpg')
      .content-details.fadeIn-bottom
        h3.content-title Instituto Personnalité
        p.content-text Odontologia
  //- .content.embed
  //-   a(href='../assets/img/album2018/clinica/15.jpg' data-toggle="lightbox" data-gallery="gallery")
  //-     .content-overlay
  //-     img.img-fluid(src='../assets/img/album2018/clinica/15.jpg')
  //-     .content-details.fadeIn-bottom
  //-       h3.content-title Instituto Personnalité
  //-       p.content-text Odontologia
  .content.embed
    a(href='../assets/img/album2018/clinica/16.jpg' data-toggle="lightbox" data-gallery="gallery")
      .content-overlay
      img.img-fluid(src='../assets/img/album2018/clinica/16.jpg')
      .content-details.fadeIn-bottom
        h3.content-title Instituto Personnalité
        p.content-text Odontologia
  //- .content.embed
  //-   a(href='../assets/img/album2018/clinica/17.jpg' data-toggle="lightbox" data-gallery="gallery")
  //-     .content-overlay
  //-     img.img-fluid(src='../assets/img/album2018/clinica/17.jpg')
  //-     .content-details.fadeIn-bottom
  //-       h3.content-title Instituto Personnalité
  //-       p.content-text Odontologia
  .content.embed
    a(href='../assets/img/album2018/clinica/18.jpg' data-toggle="lightbox" data-gallery="gallery")
      .content-overlay
      img.img-fluid(src='../assets/img/album2018/clinica/18.jpg')
      .content-details.fadeIn-bottom
        h3.content-title Instituto Personnalité
        p.content-text Odontologia
  //- .content.embed
  //-   a(href='../assets/img/album2018/clinica/19.jpg' data-toggle="lightbox" data-gallery="gallery")
  //-     .content-overlay
  //-     img.img-fluid(src='../assets/img/album2018/clinica/19.jpg')
  //-     .content-details.fadeIn-bottom
  //-       h3.content-title Instituto Personnalité
  //-       p.content-text Odontologia
  .content.embed
    a(href='../assets/img/album2018/clinica/20.jpg' data-toggle="lightbox" data-gallery="gallery")
      .content-overlay
      img.img-fluid(src='../assets/img/album2018/clinica/20.jpg')
      .content-details.fadeIn-bottom
        h3.content-title Instituto Personnalité
        p.content-text Odontologia
