meta(charset='utf-8')
meta(http-equiv='X-UA-Compatible', content='IE=edge')
title Instituto Personnalité - Dentista, Saúde Bucal, Odontologia, Implantodontia e estética do sorriso.
meta(name='viewport', content='width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=no')
meta(property='og:url', content='http://www.personnaliteodontologia.com.br/')
meta(property='og:type', content='Dentista, Saúde Bucal, Odontologia, Implantodontia e estética do sorriso')
meta(property='og:title', content='Instituto Personnalité')
meta(property='og:description', content='Implantodontia e estética do sorriso.')
meta(property='og:image', content='http://www.personnaliteodontologia.com.br/assets/img/logo.svg')
link(href='styles/main.css', rel='stylesheet')
link(rel='shortcut icon', href='assets/img/favico.png')
link(href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet")
link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous")
// Global site tag (gtag.js) - Google Analytics
script(async='' src='https://www.googletagmanager.com/gtag/js?id=UA-89184615-1')
script.
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-89184615-1');
