.hero.hero-item(role='Apresentação')
  .setsubbackground.hero-item--3
    .hero-nav
      include nav.pug
      +menu('','')
    .container.h-100
      .row.h-100
        .hero--container
          .hero-svg
            img(src="assets/img/logoGold.svg", alt="Logo", width="300px")
            img.hidden-xs(src="assets/img/subtitle.svg", alt="Logo" width="571px")
            img.visible-xs(src="assets/img/subtitle2.svg", alt="Logo" width="300px")
          //- h1.title--hero medicina dentária ESPECIALIZADA
          //- p.subtitle--hero  ESTÉTICA DO SORRISO

