section.hero.hero-item(role='Apresentação')
  .setsubbackground.hero-item--3
    .container.h-100
      .row.h-100
        .hero--container
          .s-medium
            img(src="assets/img/logoWhite.svg", alt="Logo", width="200px", height="103px")
          h1.title--hero medicina dentária ESPECIALIZADA
          p.subtitle--hero  ESTÉTICA DO SORRISO

