nav.navbar.navbar-default.add-shadow
  .container-fluid
    // Brand and toggle get grouped for better mobile display
    .navbar-header
      button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#personallite-navbar-collapse-1', aria-expanded='false')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a(href='#') 
        img.c-box(src='../assets/img/logo.svg' alt='Logo Personallité' width='80')
    // Collect the nav links, forms, and other content for toggling
    #personallite-navbar-collapse-1.collapse.navbar-collapse.nav-menu
      include nav.pug
