mixin menu(classe, link)
  ul(class!=classe)
    li.nav-item
      a(class!=link, href="#home") Home
    li.nav-item
      a(class!=link, href="#especialidades") Especialidades
    li.nav-item
      a(class!=link, href="#equipe") Equipe
    li.nav-item
      a(class!=link, href="#contatos") Contatos


