.col-md-6
    iframe.c-bottom(src='https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Finstitutopersonnalitedf&tabs&width=340&height=180&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId', width='340', height='180', style='border:none;overflow:hidden', scrolling='no', frameborder='0', allowtransparency='true', allow='encrypted-media')



.col-md-6
    #pixlee_container.c-bottom
    script(type='text/javascript').
      window.PixleeAsyncInit = function() {Pixlee.init({apiKey:'dYfBjv79tOoNGgBljY5D'});Pixlee.addSimpleWidget({widgetId:'5333'});};
    script(src='//instafeed.assets.pixlee.com/assets/pixlee_widget_1_0_0.js')

