header
  .b-color--three.topo
    .colum-bar.b-color--one
      | &nbsp;
    .container
      .row
        .col-md-12.c-top.c-bottom
          .row
            .col-md-11.col-sm-11.text-right.t-color--one.fs--one
              span.glyphicon.glyphicon-time
              |  segunda a sexta de 8:00 às 12:00 e de 13:30 às 19:00. Aos sábados de 8:00 as 12:00  |  sábados e domingos fechado
            .col-md-1.col-sm-1.text-right
              a(href="http://webmail5.ultramail.com.br/" target='_blank').fs--one.l-primary
                span.glyphicon.glyphicon-envelope
                |  WEBMAIL
  .c-box--content--b
    .container.c-bottom.c-top
      .row
        .col-md-4
          a(href='http://www.personnaliteodontologia.com.br/'): img(src='assets/img/logo.svg')
        .col-md-8.text-right.fs--five.l--middle.t-color--three
          span.glyphicon.glyphicon-map-marker
          span  ASA NORTE-DF &nbsp; &nbsp;
          span.glyphicon.glyphicon-earphone
          span  (61) 3349-8183 / 3447-6071
  .container
    nav.navbar.c-nospace
      .row
        .navbar-header
          button.navbar-toggle.collapsed.b-color--seven(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
            span.b-color--one.sr-only Toggle navigation
            span.b-color--one.icon-bar
            span.b-color--one.icon-bar
            span.b-color--one.icon-bar

        #navbar.navbar-collapse.collapse
          mixin menu(classe, link)
            ul(class!=classe)
              li
                a.hvr-underline-reveal(class!=link, href="index.html") Início
              li
                a.hvr-underline-reveal(class!=link, href="sobre.html") Sobre
              li
                a.hvr-underline-reveal(class!=link, href="especialidades.html") Especialidades
              li
                a.hvr-underline-reveal(class!=link, href="equipe.html") Equipe
              li
                a.hvr-underline-reveal(class!=link, href="contatos.html") Contatos
          +menu('nav navbar-nav head-menu fs--three s-uppercase','l-nav')
