header
  .position-fixed--w100.transition.theme.navsec
    include nav-sec.pug
  .b-color--three.topo
    .colum-bar.b-color--one
      | &nbsp;
    .container
      .row
        .col-md-12.c-top.c-bottom
          .row
            .col-md-10.col-sm-10.text-right.t-color--one.fs--one
              span.fas.fa-clock
              |  Segunda a sexta de 08h00 às 19h00. Sábados de 08h00 às 12h00
            .col-md-2.col-sm-2.text-right
              a(href="https://webmail.ultramail.com.br/" target='_blank').fs--zero.l-primary
                span.fas.fa-envelope-square
                |  WEBMAIL
  .c-box--content--b
    .container.c-bottom.c-top
      .row
        .col-md-4
          a(href='http://www.personnaliteodontologia.com.br/'): img(src='assets/img/logo.svg')
        .col-md-8.text-right.fs--one.l--middle.t-color--three.c-top
          span.fas.fa-map-marker
          span  ASA NORTE-DF &nbsp; &nbsp;
          span.fas.fa-phone-square
          a.l-transition--default(href='tel:(61) 3349-8153')  (61) 3349-8153 &nbsp;
          span.fas.fa-phone-square
          a.l-transition--default(href='tel:(61) 3447-6071')  (61) 3447-6071 &nbsp;
          strong.fs--four
            a.l-transition--whatszap(href='https://wa.me/5561982463555')  
              span.fab.fa-whatsapp-square &nbsp;
              span (61) 982463555 (whatsapp)
  .container.hidden-xs
    nav.navbar.c-nospace
      .row
        #navbar.theme
          include nav.pug
          ul.pull-right.list-unstyled.nav.navbar-nav.head-menu.fs--three.s-uppercase.s-gutter-negative--right
            li
              a.l-transition--default(href='https://www.facebook.com/institutopersonnalitedf' title='Facebook' target='_blank'): i.fab.fa-facebook
            li
              a.l-transition--default(href='https://www.instagram.com/institutopersonnalitedf/' title='Instagram' target='_blank'): i.fab.fa-instagram
