.modal.fade.modal-ivanir(tabindex='-1', role='dialog', aria-labelledby='myLargeModalLabel')
	.modal-dialog.modal-lg(role='document')
		.modal-content
			.modal-header
				.media
					.media-left
						a(href='#')
							img.media-object.img-circle.img-thumbnail(src='assets/img/equipe2018/DrIvanir.jpg')
					.media-body.media-middle
						h4#myLargeModalLabel.modal-title DR IVANIR GRECCO (CRO-DF 4621)
			.modal-body
				<ul>
					<li>Especialista em cirurgia e traumatologia buco maxilo facial, realizado na São Leopoldo Mandic, Unidade Campinas.</li>
					<li>Mestrado em cirurgia traumatologia buco maxilo facial, realizado na São Leopoldo Mandic, Unidade Campinas.</li>
					<li>Staff de cirurgia traumatologia buco maxilo facial no Hospital Universitário de Brasília – HUB</li>
					<li>Staff de cirurgia traumatologia buco maxilo facial no Hospital Regional da Ceilândia–HRC</li>
					<li>curso de obtenção de Fibrina Leucoplaquetària Autológa e Venopunçāo para aplicações odontológicas, pelo Grupo de Estudos Avançados em Concentrados plaquetários</li>
					<li>Coordenador do Curso de Especialização em Cirurgia Oral Avançada, realizado na São Leopoldo Mandic, Unidade Brasília.</li>
					<li>Graduado em odontologia, FOPLAC, Brasília</li>
				</ul>
