.modal.fade.modal-thayse(tabindex='-1', role='dialog', aria-labelledby='myLargeModalLabel')
	.modal-dialog.modal-lg(role='document')
		.modal-content
			.modal-header
				h4#myLargeModalLabel.modal-title.text-uppercase DRA. Jalusa Tassinari Bonfada (CRO-DF 10035)
			.modal-body
				<ul>
					<li>Curso de Especialização em Ortodontia.: São Leopoldo Mandic – POA/RS</li>
					<li>Curso de atualização em Prótese sobre Implante. Elmo FINCO – POA/RS</li>
					<li>Especialista em Saúde Pública. : Universidade Regional do Noroeste do Estado do RS / UNIJUÍ – Ijuí/RS</li>
					<li>Curso de Atualização em Ortodontia Preventiva. São Leopoldo Mandic – Porto Alegre/RS</li>
					<li>Curso de Atualização em Dentística Restauradora e Estética. CIE – Centro Integrado de Endodontia – Passo Fundo / RS</li>
					<li>Graduada em odontologia pela Faculdade de Odontologia de Passo Fundo/RS</li>
				</ul>
