.modal.fade.modal-joao(tabindex='-1', role='dialog', aria-labelledby='myLargeModalLabel')
	.modal-dialog.modal-lg(role='document')
		.modal-content
			.modal-header
				.media
					.media-left
						a(href='#')
							img.media-object.img-circle.img-thumbnail(src='assets/img/equipe2018/DrJoao.jpg')
					.media-body.media-middle
						h4#myLargeModalLabel.modal-title DR. JOÃO HENRIQUE MASCARENHAS (CRO-DF 10908)
			.modal-body
				<ul>
					<li>Especialização em prótese dentária, pela ABCD-DF</li>
					<li>Graduado em odontologia pela UNIP - Brasília</li>
				</ul>
			.modal-footer
				button.btn.btn-default(type='button' data-dismiss='modal') Fechar