.modal.fade.modal-larissa(tabindex='-1', role='dialog', aria-labelledby='myLargeModalLabel')
	.modal-dialog.modal-lg(role='document')
		.modal-content
			.modal-header
				.media
					.media-left
						a(href='#')
							img.media-object.img-circle.img-thumbnail(src='assets/img/equipe2018/DrLarissa.jpg')
					.media-body.media-middle
						h4#myLargeModalLabel.modal-title 
							| DR(A). LARISSA FREIRE (CRO-DF 11905)
			.modal-body
				<ul>
					<li>Curso de extensāo DTM e Dor Orofacial no Centro da Dor Orofacial do GAAAC</li>
					<li>Graduada em odontologia pela UNIP</li>
					<li>Pós-graduação em Harmonização Orofacial - Instituto Aria</li>
					<li>Especialização em DTM e Dor Orofacial - Instituto Aria</li>
					<li>Pós-graduação em DTM e Dor Orofacial no Centro da Dor Orofacial - GAAAC</li>
				</ul>
			.modal-footer
				button.btn.btn-default(type='button' data-dismiss='modal') Fechar