.modal.fade.modal-maira(tabindex='-1', role='dialog', aria-labelledby='myLargeModalLabel')
	.modal-dialog.modal-lg(role='document')
		.modal-content
			.modal-header
				.media
					.media-left
						a(href='#')
							img.media-object.img-circle.img-thumbnail(src='assets/img/equipe2018/DrMaira.jpg')
					.media-body.media-middle
						h4#myLargeModalLabel.modal-title Dra MAIRA MASCARENHAS (CRO-DF 11241)
			.modal-body
				ul
					li Especialização em Endodontia, pelo Instituto de Ensino, Pesquisa e Pós Graduaçāo de Brasília.
					li Curso de atualização em endodontia, pela Associação Brasileira de odontologia – Goiânia.
					li Curso de atualização em cirurgia oral menor, pela Associação Brasileira de odontologia – Brasília.
					li Graduada em odontologia pela UNIP - Brasília.
				</ul>
			.modal-footer
				button.btn.btn-default(type='button' data-dismiss='modal') Fechar