.modal.fade.modal-rogerio(tabindex='-1', role='dialog', aria-labelledby='myLargeModalLabel')
	.modal-dialog.modal-lg(role='document')
		.modal-content
			.modal-header
				.media
					.media-left
						a(href='#')
							img.media-object.img-circle.img-thumbnail(src='assets/img/equipe2018/DrRogerio.jpg')
					.media-body.media-middle
						h4#myLargeModalLabel.modal-title 
							| DR. ROGERIO DUARTE (CRO-DF 9881)
			.modal-body
				<ul>
					<li>Especialista em Endodontia pela ABO</li>
					<li>Curso de aperfeicoamento em Endodontia pela APCD</li>
					<li>Graduado em odontologia pela USP</li>
				</ul>
			.modal-footer
				button.btn.btn-default(type='button' data-dismiss='modal') Fechar