.modal.fade.modal-thales(tabindex='-1', role='dialog', aria-labelledby='myLargeModalLabel')
	.modal-dialog.modal-lg(role='document')
		.modal-content
			.modal-header
				.media
					.media-left
						a(href='#')
							img.media-object.img-circle.img-thumbnail(src='assets/img/equipe2018/DrThales.jpg')
					.media-body.media-middle
						h4#myLargeModalLabel.modal-title 
							| DR. THALES BRASIL (CRO-DF 8330)
			.modal-body
				<ul>
					<li>Doutorado em implantodontia, São Leopoldo Mandic, Campinas</li>
					<li>Mestrado em implantodontia, São Leopoldo Mandic, Campinas</li>
					<li>Especialização em implantodontia, FUNORTE, Brasília</li>
					<li>Especialização em cirurgia bucal avançada, São Leopoldo Mandic, Brasília</li>
					<li>Especialização em periodontia, Associação Brasileira de Odontologia, Brasília,</li>
					<li>Curso de habilitação da prática de analgesia relativa ou sedação consciente com óxido nitroso, Associação Brasileira de Odontologia, Brasília</li>
					<li>Curso de obtenção de Fibrina Leucoplaquetària Autológa e Venopunçāo para aplicações odontológicas, pelo Grupo de Estudos Avançados em Concentrados plaquetários</li>
					<li>Curso de habilitação profissional com uso de Toxina Botulínica e Fios OroFaciais, pela Dental Internacional Filer Neurotoxin Education</li>
					<li>Curso de atualização em prótese sobre implante de 20 anos da Nobel BioCare, Associação Brasileira de Odontologia, Brasília,</li>
					<li>Curso de atualização de prótese sobre implante, FUNORTE, Brasília</li>
					<li>Graduado em odontologia, FOPLAC, Brasília,</li>
					<li>Curso de aperfeiçoamento cirurgia oral menor, FUNORTE, Brasília,</li>
					<li>Curso de atualização em cirurgia, FUNORTE, Brasília</li>
					<li>Curso de fotografia odontológica para dentistas, Associação Brasileira de Odontologia, Goiania</li>
					<li>Consultor científico na área de biomateriais.</li>
					<li>Cirurgião cadastrado no Sistema de Cirurgia Guiada por Computador (Sistema Bioparts).</li>
					<li>Professor do Curso de Especialização em Cirurgia Oral Avançada, realizado na São Leopoldo Mandic, Unidade Brasília.</li>
					<li>Membro do International Team for Implantology (ITI) Suiça.</li>
					<li>Cirurgião cadastrado no Sistema Nacional de Transplantes (banco de ossos).</li>
					<li>Diretor técnico do INSTITUTO ODONTOLOGICO PERSONNALITE</li>
				</ul>
