.modal.fade.modal-thayse(tabindex='-1', role='dialog', aria-labelledby='myLargeModalLabel')
	.modal-dialog.modal-lg(role='document')
		.modal-content
			.modal-header
				.media
					.media-left
						a(href='#')
							img.media-object.img-circle.img-thumbnail(src='assets/img/equipe2018/DrThayse.jpg')
					.media-body.media-middle
						h4#myLargeModalLabel.modal-title Dra THAISE CRISTINA (CRO-DF 9239)
			.modal-body
				ul
					li Especialista em Prótese dentária, pela Faculdade São Leopoldo Mandic –Brasília.
					li Curso de imersão em lentes de contato e laminados cerâmicos, realizado no Instituto Aria, Brasília.
					li Curso de odontologia hospitalar intensiva, pelo CEMOI Brasília.
					li Graduada em odontologia pela Faculdade Católica de Brasília.
				</ul>
			.modal-footer
				button.btn.btn-default(type='button' data-dismiss='modal') Fechar