.modal.fade.modal-thayse(tabindex='-1', role='dialog', aria-labelledby='myLargeModalLabel')
	.modal-dialog.modal-lg(role='document')
		.modal-content
			.modal-header
				h4#myLargeModalLabel.modal-title DRA THAYSE CRISTINA (CRO-DF 9239)
			.modal-body
				<ul>
					<li>Especialista em Prótese dentária, pela Faculdade São Leopoldo Mandic –Brasília</li>
					<li>Curso de imersão em lentes de contato e laminados cerâmicos, realizado no Instituto Aria, Brasília</li>
					<li>Curso de odontologia hospitalar intensiva, pelo CEMOI Brasília</li>
					<li>Graduada em odontologia pela Faculdade Católica de Brasília</li>
				</ul>
