extends index
block content
  include pug/topo
  include pug/carousel

  section.s-large(role='Especialidades')
    .container
      .row
        .col-md-12
          h2.s-uppercase.t-color--seven
            strong Especialidades
        include pug/especialidades

  section(role='Paralax')
    .parallax.parallax-img
      .center(style='display: flex; height:100%; justify-content: center;')
        h2.s-uppercase.t-color--one
          strong Botox

  section(role='Equipe')
    .container
      .row
        .col-md-12
          h2.s-uppercase.t-color--seven
            strong Equipe
        include pug/equipe

  section(role='Paralax')
    .parallax.parallax-img
      .center(style='display: flex; height:100%; justify-content: center;')
        img(src='assets/img/logoWhite.svg')
  include pug/convenios
  include pug/contatos
  section.b-color--two-offset(role='Redes Sociais')
    .container
      .row
        .col-md-12
          h2.s-uppercase.t-color--one
            strong Siga-nos
        include pug/redessociais
  include pug/footer
