extends index
block content
  include pug/topo
  include pug/carousel

  section.s-large(role='Especialidades')
    .container
      .row
        .col-md-12
          h2.s-uppercase.t-color--seven
            strong Especialidades
        include pug/especialidades

  section(role='Paralax')
    .parallax.parallax-img2
      .center
        h2.s-uppercase.t-color--seven.fs--twenty-six
          strong Botox
        p.t-color--two.fs--six
          | Estética Oral
        p.t-color--two.fs--four.text-center
          | Renove seu sorriso, aumente sua autoestima! Oferecemos para pacientes com queija de sorriso assimétrico, sorriso gengival e alguns tipos de assimetrias faciais a toxina botulínica "botox".

  section(role='Equipe')
    .container
      .row
        .col-md-12
          h2.s-uppercase.t-color--seven
            strong Equipe
        include pug/equipe

  section(role='Paralax')
    .parallax.parallax-img
      .center
        img(src='assets/img/logoWhite.svg')
  include pug/convenios
  include pug/redessociais
  include pug/contatos
  include pug/footer
