extends index
block content
  include pug/topo
  section
    .b-color--four.c-top.c-bottom.s-medium
      .container
        .row
          .col-md-12
            h2.c-nospace.s-uppercase.t-color--seven
              strong Sobre
    article
      .container
        .row
          .col-md-12
            | Instituto Personnalité é formada por uma equipe de dentistas experientes, focados e especializados em odontologia, nosso corpo clínico oferece diferentes áreas na odontologia, confira e veja abaixo nossas especialidades. Seja bem vindo.

          mixin gallery(src, num)
            .col-lg-3.col-md-4.col-xs-6.thumb
              a(href='#')
                img.img-responsive.thumbnail(src= src , alt= num)
          +gallery('assets/img/album2018/1.jpg','1')
          +gallery('assets/img/album2018/2.jpg','2')
          +gallery('assets/img/album2018/3.jpg','3')
          +gallery('assets/img/album2018/4.jpg','4')
          +gallery('assets/img/album2018/5.jpg','5')
          +gallery('assets/img/album2018/6.jpg','6')
          +gallery('assets/img/album2018/7.jpg','7')
          +gallery('assets/img/album2018/8.jpg','8')
          +gallery('assets/img/album2018/9.jpg','9')
          +gallery('assets/img/album2018/10.jpg','10')
          +gallery('assets/img/album2018/11.jpg','11')
          +gallery('assets/img/album2018/12.jpg','12')
          +gallery('assets/img/album2018/13.jpg','13')
          +gallery('assets/img/album2018/14.jpg','14')
          +gallery('assets/img/album2018/15.jpg','15')
          +gallery('assets/img/album2018/16.jpg','16')
          +gallery('assets/img/album2018/17.jpg','17')
          +gallery('assets/img/album2018/18.jpg','18')
          +gallery('assets/img/album2018/19.jpg','19')
          +gallery('assets/img/album2018/20.jpg','20')
          +gallery('assets/img/album2018/21.jpg','21')
          +gallery('assets/img/album2018/22.jpg','22')
          +gallery('assets/img/album2018/23.jpg','23')
          +gallery('assets/img/album2018/24.jpg','24')
          +gallery('assets/img/album2018/25.jpg','25')
          +gallery('assets/img/album2018/26.jpg','26')
          +gallery('assets/img/album2018/27.jpg','27')
          +gallery('assets/img/album2018/28.jpg','28')
          +gallery('assets/img/album2018/29.jpg','29')
          +gallery('assets/img/album2018/30.jpg','30')
          +gallery('assets/img/album2018/31.jpg','31')
          +gallery('assets/img/album2018/32.jpg','32')
          +gallery('assets/img/album2018/33.jpg','33')
          +gallery('assets/img/album2018/34.jpg','34')
          +gallery('assets/img/album2018/35.jpg','35')
          +gallery('assets/img/album2018/36.jpg','36')
          +gallery('assets/img/album2018/37.jpg','37')
          +gallery('assets/img/album2018/38.jpg','38')
          +gallery('assets/img/album2018/39.jpg','39')
          +gallery('assets/img/album2018/40.jpg','40')
          +gallery('assets/img/album2018/41.jpg','41')
          +gallery('assets/img/album2018/42.jpg','42')
          +gallery('assets/img/album2018/43.jpg','43')
          +gallery('assets/img/album2018/44.jpg','44')
          +gallery('assets/img/album2018/45.jpg','45')
          +gallery('assets/img/album2018/46.jpg','46')
          +gallery('assets/img/album2018/47.jpg','47')
          +gallery('assets/img/album2018/48.jpg','48')
          +gallery('assets/img/album2018/49.jpg','49')
          +gallery('assets/img/album2018/50.jpg','50')
          +gallery('assets/img/album2018/51.jpg','51')
          +gallery('assets/img/album2018/52.jpg','52')
          +gallery('assets/img/album2018/53.jpg','53')
          +gallery('assets/img/album2018/54.jpg','54')
          +gallery('assets/img/album2018/55.jpg','55')
          +gallery('assets/img/album2018/56.jpg','56')
          +gallery('assets/img/album2018/57.jpg','57')
          +gallery('assets/img/album2018/58.jpg','58')
          +gallery('assets/img/album2018/59.jpg','59')
          +gallery('assets/img/album2018/60.jpg','60')
          +gallery('assets/img/album2018/61.jpg','61')

  include pug/galeria-modal
  include pug/footer
